<%- include('../partials/header') %>


    <% records.forEach(function(r) { %>
    <div>
        <div>
            <form 
            action="/managerecords/<%= r.id %>?_method=DELETE" 
            method="POST"
            class="delete-form"
            >
            <button type="submit">Delete</button>
            </form>
        </div>        
        <div>
            <a href="/managerecords/<%= r.id %>">
                <img src="<%= r.image %>" alt="" style="height: 250px; width: 250px; margin:20px;">
            </a>
        </div>
        <div style="text-align: left;">
            <ul class="adminlist">
                <li>
                    Artist: <%= r.artist %>
                </li>
                <li>
                    Title:  <%= r.title %>
                </li>
                <li>
                    Media:  <%= r.media %>
                </li>
                <li>
                    Grade:  <%= r.grade %>
                </li>
                <li>
                    Year:  <%= r.year %>
                </li>
                <li>
                    Price:  <%= r.price %>
                </li>
                <li>
                    Note: <%= r.description %>
                </li>                                                                                                                        
            </ul>
        </div>
    </div>
    <p>--------------------------</p>
      <% }); %>

<a class="adminlinks" href="/managerecords/new">Add New Record</a>



<%- include('../partials/footer') %>