<%- include('../partials/header.ejs') %>



    <div>
        <div>
            <a href="/managerecords/<%= record.id %>">
                <img src="/img/<%= record.image %>" alt="" style="height: 250px; width: 250px; margin:20px;">
            </a>
        </div>
        <div style="text-align: left;">
            <ul class="adminlist">
                <li>
                    Artist: <%= record.artist %>
                </li>
                <li>
                    Title:  <%= record.title %>
                </li>
                <li>
                    Media:  <%= record.media %>
                </li>
                <li>
                    Grade:  <%= record.grade %>
                </li>
                <li>
                    Year:  <%= record.year %>
                </li>
                <li>
                    Price:  <%= record.price %>
                </li>
                <li>
                    Note: <%= record.description %>
                </li>                                                                                                                        
            </ul>
        </div>
    </div>

    <div style="display:grid">
        <a class="adminlinks" href="/managerecords/<%= record.id %>/edit">Edit Record</a>
        <a class="adminlinks" href="/managerecords/<%= record.id %>/upload">Upload Image</a>
        <a class="adminlinks" href="/managerecords">Back to Record List</a>
    </div>

<%- include('../partials/footer.ejs') %>    