<%- include('../partials/header.ejs') %>


    <table>
        <tr>
            <td>
                Artist: 
            </td>            
            <td>
                <%= record.artist %>
            </td>
        </tr>

        <tr>
            <td>
                Title: 
            </td>
            <td>
                <%= record.title %>
            </td>
        </tr>
        <tr>
            <td>
                Media: 
            </td>
            <td>
                <%= record.media %>
            </td>
        </tr>

        <tr>
            <td>
                Grade: 
            </td>
            <td>
                <%= record.grade %>
            </td>
        </tr>
        <tr>
            <td>
                year: 
            </td>
            <td>
                <%= record.year %>
            </td>
        </tr>

        <tr>
            <td>
                Description: 
            </td>
            <td>
                <%= record.description %>
            </td>
        </tr>
        <tr>
            <td>
                Price: 
            </td>
            <td>
                <%= record.price %>
            </td>
        </tr>

    </table>  


    <a href="/managerecords/<%= record.id %>/edit">Edit Record</a>
    
<%- include('../partials/footer.ejs') %>    