<%- include('../partials/header.ejs') %>

    <form action="/managerecords/<%= record.id %>?_method=PUT" method="post"></form>
    <table>
        <tr>
            <td>
                Artist: 
            </td>            
            <td>
                <%= record.artist %>
            </td>
        </tr>
        <tr>
            <td>
                Title: 
            </td>
            <td>
                <%= record.title %>
            </td>
        </tr>
        <tr>
            <td>
                Media: 
            </td>
            <td>
                <%= record.media %>
            </td>
        </tr>

        <tr>
            <td>
                Grade: 
            </td>
            <td>
                <%= record.grade %>
            </td>
        </tr>
        <tr>
            <td>
                year: 
            </td>
            <td>
                <%= record.year %>
            </td>
        </tr>

        <tr>
            <td>
                Description: 
            </td>
            <td>
                <%= record.description %>
            </td>
        </tr>
        <tr>
            <td>
                Price: 
            </td>
            <td>
                <%= record.price %>
            </td>
        </tr>

    </table>  



    <div style="display:grid">
        <input type="file" id="fileupload">
    </div>
    <button type="submit">Submit</button><br>        
</form>

<a class="adminlinks" href="/managerecords/<%= record.id %>">Back to Record</a>


<%- include('../partials/footer.ejs') %>  