<%- include('../partials/header.ejs') %>
    
    <div>
        <div class="recordoftheweek" style="text-align: center;">
            <a href="/customerpages/recordoftheweek/<%= record.id %>">
                <img src="/img/<%= record.image %>" alt="" style="height: 250px; width: 250px">
            </a>
        </div>
        <div style="text-align: center;">
            <ul class="adminlist">
                <li>
                    Artist: <%= record.artist %>
                </li>
                <li>
                    Title:  <%= record.title %>
                </li>
                <li>
                    Media:  <%= record.media %>
                </li>
                <li>
                    Grade:  <%= record.grade %>
                </li>
                <li>
                    Year:  <%= record.year %>
                </li>
                <li>
                    Price:  <%= record.price %>
                </li>
                <li>
                    Note: <%= record.description %>
                </li>                                                                                                                        
            </ul><br>
            <a class="adminlinks" href="/customerpages/recordsoftheweek">Back to Record List</a>
        </div>
    </div>    



<%- include('../partials/footer.ejs') %>    